:root {
    --white-transparent: rgba(255, 255, 255, 0.9);
}

body {
    margin: 0px;
}

header {
    background: var(--white-transparent);
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 20px;
}
  
nav a {
    text-decoration: none;
}

.content1 {
    height: 200vh;
    background-image: url("img/FDI-Vacunas.jpg");
    background-size: cover;
    display: grid;
    place-items: center;
}