:root {
    --white-transparent: rgba(255, 255, 255, 0.9);
}

body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

header {
    background: var(--white-transparent);
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-weight: bold;
    margin-top: -20px;
}

header h3 {
    color: #3151cf;
}

nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 20px;
}
  
nav a {
    text-decoration: none;
    color: #6f7d95;
}

.seleccion {
    background: #3555d3;
    color: #FFF;
    border-radius: 5px;
}

h1 {
    color: #1f3e72;
    font-size: 50px;
}

.izquierda {
    padding-top: 200px;
    padding-left: 70px;
    font-weight: bold;
}

.gris {
    color: #6f7d95;
}

.no-gris {
    color: #1f3e72;
}

.derecha {
    width: 650px;
    height: 700px;
    object-fit: cover;
    float: right;
    background: #021863;
    padding-top: 100px;
    margin-top: -20px;
}