:root {
    --white-transparent: rgba(255, 255, 255, 0.9);
}

body {
    margin: 0px;
}

header {
    background: var(--white-transparent);
    text-align: center;
    margin: 0px;
    width: 100%;
    position: fixed;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px;
}
  
nav a {
    text-decoration: none;
}

.content1 {
    height: 200vh;
    background-image: url("img/FDI-Vacunas.jpg");
    background-size: cover;
    display: grid;
    place-items: center;
}